.app-layout {
    min-height: 100vh;
    user-select: none;
}

.app-content {
    background-color: var(--background-color);
    transition: all var(--transition-duration);
    position: relative;
    height: calc(100vh - var(--header-height) - var(--tab-bar-height));

    &.with-console {
        height: calc(100vh - var(--header-height) - var(--tab-bar-height) - 300px);
    }
}
.minimap .slider-mouseover {
  display: none;
}
/* 同时覆盖编辑器和左侧边栏 */
.current-line {
  background-color: transparent !important;
}
.monaco-editor .minimap-decorations-layer,
.monaco-editor .minimap,
.monaco-editor-background,
.monaco-editor .margin,
{ background-color: var(--editor-background) !important;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.monaco-editor .overflow-guard {
  background-image: url(https://t.alcy.cc/moez) !important;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main-layout {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height) - var(--tab-bar-height));
}

.console-layout {
    overflow: hidden;
    flex-shrink: 0;
    height: 276px;
    margin-bottom: 24px;
    border-top: 1px solid #f0f0f0;
}

/* 暗色主题适配 */
[data-theme='dark'] {
    .console-layout {
        background-color: var(--card-bg-color);
        border-top-color: #434343;
    }
}

.content-container {
    background-color: var(--card-bg-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all var(--transition-duration);
}

.theme-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.js-runner-container {
    position: absolute;
    top: 60px;
    right: 24px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.theme-toggle-btn {
    transition: transform 0.3s ease;

    .anticon {
        font-size: 18px;
    }

    .anticon-sun {
        color: #faad14;
        animation: Rise 0.3s ease;
    }

    .anticon-moon {
        color: #597ef7;
        animation: Rise 0.3s ease;
    }
}

@keyframes Rise {
    from {
        opacity: 0;
        transform: scale(0.8) translateY(20px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

/* 代码编辑器样式 */
.code-editor-container {
    overflow: auto;
    /* 修改为auto以确保内容不会溢出 */
    height: calc(100vh - var(--header-height) - var(--tab-bar-height));

    /* 调整高度，考虑header高度和边距 */
    &.with-console {
        height: calc(100vh - var(--header-height) - var(--tab-bar-height) + 24px - 300px);
    }
}
